/*---------------------------------------------
  Products styles
---------------------------------------------*/
/* b2b nav */
.cbutton {vertical-align:top;margin:-6px 0 0;} 

#splash ul li {list-style-image: url('/image/more.png');}

/* splash b2b '/image/bullet-splash.gif' */
div.b2b {
  font-family:'myriad pro','bitstream vera sans','helvetica neue',helvetica,arial,sans-serif;
  background: url('/image/.jpg') no-repeat 0 1.5em;
  width: 936px;
  height: 324px;
  min-height: 324px;
  height:auto !important;
  clear:both;
  margin:0 0 1.5em;
  border-top:1px solid #ccc;
}
div.b2b div {position: relative;top:144px;left:85px;width:29em;}
div.b2b div h2 {text-align:right;font-size:4em;line-height:1;margin-bottom:0;}
div.b2b div p {text-align:right;color:#39f;font-size:2em;}
div.b2b p a {display:block;color:#39f;font-size:0.6em;margin-top:-.5em;}
div.home_right h4 {margin-top:-1em;}
div.home_right p {line-height:1.4 ;margin-top:-0.5em;}

/* Home */
div.home_news_events  h4 {margin-top:-0.3em;}
div.home_news_events  p {line-height:1.1;margin-top:-0.8em;}

div.home_solutions_mobile, div.home_solutions_mini, div.home_solutions_devices, div.home_solutions_widgets {
  font-family:'myriad pro','bitstream vera sans','helvetica neue',helvetica,arial,sans-serif;
  background-color:#000000;
  width: 296xp;
  height: 80px;
  margin:0 0 0.5em;
  color:#fff;
  padding-left:13px;
}

div.home_solutions_mobile h4, div.home_solutions_mini h4, div.home_solutions_devices h4, div.home_solutions_widgets h4 {font-size:2em; padding-top:20px;}
div.home_solutions_mobile p, div.home_solutions_mini p, div.home_solutions_devices p, div.home_solutions_widgets p {margin-top:-1em; width:13em; line-height:1;}
div.home_solutions_mobile a, div.home_solutions_mini a, div.home_solutions_devices a, div.home_solutions_widgets a {color:#fff; text-decoration: none;}

div.home_solutions_devices {background: url('/image/devices_ad.jpg') no-repeat ;}

div.home_solutions_widgets {background: url('/image/widgets_ad.jpg') no-repeat;}
div.home_solutions_widgets h4 {padding-top:12px;}

div.home_center  {text-align:center;}

/*div.home_advantage {
  font-family:'myriad pro','bitstream vera sans','helvetica neue',helvetica,arial,sans-serif;
  background: url('/image/advantage-banner.jpg') no-repeat ;
  background-color:#000000;
  width: 936px;
  height: 40px;
  min-height: 40px;
  height:auto !important;
  clear:both;
  margin:0 0 0.5em; 
}

div.home_advantage h3 {text-align:left;color:#fff;font-size:1.8em; padding-top:11px;padding-left:13px;}
div.home_advantage a {color:#fff; text-decoration: none;}

div.home_advantage_new  {background: url('/image/home_advantage_new4.png') no-repeat;width:936px;
  height: 24px;
  min-height: 24px;
  height:auto !important;
  clear:both;
  margin:0 0 0.5em; 
  }
div.home_advantage_new a {text-decoration: none;color:#000;}
div.home_advantage_new h3 {font-size:1.3em;text-align: center;padding-top:4px;}*/

/* splash solutions */
div.solutions {
  background:url('/image/solutions_top.jpg') no-repeat 0 18px;
  height:222px;
  min-height:222px;
  height: auto !important;
  padding:18px;
  width:936px;
}
div.solutions ul {color:#fff;margin-top:50px;margin-left:580px;font-size:1.3em;width:20em;}


/* splash mobile */
div.mobile {
  background:url('/image/mobile-top2.jpg') no-repeat 0 18px;
  height:324px;
  min-height:324px;
  height: auto !important;
  width:936px;
  padding:18px;
}

div.mobile-benefits {
  background:url('/image/mobile-top-benefits.jpg') no-repeat 0 18px;
  height:319px;
  min-height:319px;
  height: auto !important;
  padding:18px;
  width:936px;
}
div.mobile-benefits ul {margin-top:110px;margin-left:72px;font-size:1.0833em;width:20em;}

div.mobile-features {
  background:url('/image/mobile-top-features.jpg') no-repeat 0 18px;
  height:324px;
  min-height:324px;
  height: auto !important;
  padding:18px;
  width:936px;
}
div.mobile-features ul {margin-top:110px;margin-left:620px;font-size:1.0833em;width:20em;}


div.mobile-tec {
  background:url('/image/mobile-top-tec2.jpg') no-repeat 0 18px;
  height:319px;
  min-height:319px;
  height: auto !important;
  padding:18px;
width:936px;
}
div.mobile-tec ul {margin-top:185px;margin-left:640px;font-size:1.0833em;width:20em;}

/* splash mini */
div.mini {
  background:url('/image/mini-top.jpg') no-repeat 0 18px;
  height:324px;
  min-height:324px;
  height: auto !important;
  padding:18px;
  width:936px;
}

div.mini-benefits {
  background:url('/image/mini-benefits-top.jpg') no-repeat 0 18px;
  height:324px;
  min-height:324px;
  height: auto !important;
  padding:18px;
  width:936px;
}
div.mini-benefits ul {margin-top:110px;margin-left:72px;font-size:1.0833em;width:20em;}

div.mini-features {
  background:url('/image/mini-features-top.jpg') no-repeat 0 18px;
  height:324px;
  min-height:324px;
  height: auto !important;
  padding:18px;
  width:936px;
}
div.mini-features ul {margin-top:100px;margin-left:670px;font-size:1.0833em;width:20em;}

div.mini-tec {
  background:url('/image/mini-tec-top.jpg') no-repeat 0 18px;
  height:324px;
  min-height:324px;
  height: auto !important;
  padding:18px;
  width:936px;
}
div.mini-tec ul {margin-top:100px;margin-left:650px;font-size:1.0833em;width:20em;}

/* Splash devices */
div.devices {
  background:url('/image/devices-top.jpg') no-repeat 0 18px;
  height:200px;
  min-height:200px;
  height: auto !important;
  padding:18px;
  width:936px;
}

div.devices_tv {
  background:url('/image/devices-topen.jpg') no-repeat 0 18px;
  height:324px;
  min-height:324px;
  height: auto !important;
  padding:18px;
  width:936px;
}

div.devices_voip {
  background:url('/image/devices_voip_top.jpg') no-repeat 0 18px;
  height:324px;
  min-height:324px;
  height: auto !important;
  padding:18px;
  width:936px;
}
div.devices_voip ul {margin-top:110px;margin-left:40px;font-size:1.0833em;width:24em;}

div.devices_portable {
  background:url('/image/devices_portable_top.jpg') no-repeat 0 18px;
  height:324px;
  min-height:324px;
  height: auto !important;
  padding:18px;
  width:936px;
}
div.devices_portable ul {color:#fff;margin-top:110px;margin-left:40px;font-size:1.0833em;width:22em;background:#000;}

div.devices_car {
  background:url('/image/devices_car_top.jpg') no-repeat 0 18px;
  height:324px;
  min-height:324px;
  height: auto !important;
  padding:18px;
  width:936px;
}

div.devices_imaging {
  background:url('/image/devices_imaging_top.jpg') no-repeat 0 18px;
  height:324px;
  min-height:324px;
  height: auto !important;
  padding:18px;
  width:936px;
}
div.devices_imaging ul {margin-top:60px;margin-left:40px;font-size:1.0833em;width:28em;}

div.devices_operator {
  background:url('/image/devices-operator-top.jpg') no-repeat 0 18px;
  height:250px;
  min-height:250px;
  height: auto !important;
  padding:18px;
  width:936px;
}
div.devices_operator ul {margin-top:80px;margin-left:40px;font-size:1.0833em;width:28em;}

div.devices_div1 {
  background:url('/image/devices_top_div1.jpg') no-repeat 0 18px;
  height:324px;
  min-height:324px;
  height: auto !important;
  padding:18px;
  width:936px;
}

div.devices_div2 {
  background:url('/image/devices_top_div2.jpg') no-repeat 0 18px;
  height:324px;
  min-height:324px;
  height: auto !important;
  padding:18px;
  width:936px;
}

div.devices_div3 {
  background:url('/image/devices_top_div3.jpg') no-repeat 0 18px;
  height:324px;
  min-height:324px;
  height: auto !important;
  padding:18px;
  width:936px;
}


/* Splash Widgets */
div.widgets {
  font-family:'myriad pro','bitstream vera sans','helvetica neue',helvetica,arial,sans-serif;
  background:url('/image/widgets_top_11.jpg') no-repeat 0 18px;
  height:324px;
  min-height:324px;
  height: auto !important;
  padding:18px;
  width:936px;
}
div.widgets div {position: relative;top:70px;left:50px;width:40em;}
div.widgets div h2 {text-align:left;font-size:4em;line-height:1;margin-bottom:0;color:#1d1d1d;}
div.widgets div h3 {text-align:left;color:#ff2400;font-size:1.5em;line-height:1;margin-bottom:0;}
div.widgets div p {text-align:left;color:#000;font-size:1.5em;margin-bottom:0;}
div.widgets p a {display:block;color:#000;font-size:1em;}

div.widgets2 {
  font-family:'myriad pro','bitstream vera sans','helvetica neue',helvetica,arial,sans-serif;
  background:url('/image/gallery-top.jpg') no-repeat 0 0;
  height:380px;
  min-height:380px;
  height: auto !important;
}
div.widgets2 div {position: relative;top:100px;left:50px;width:45em;}
div.widgets2 div h2 {text-align:left;color:#000;font-size:4em;line-height:1;margin-bottom:0;}
div.widgets2 div h3 {text-align:left;color:#790d0d;font-size:1.5em;line-height:1;margin-bottom:0;}
div.widgets2 div p {text-align:left;color:#000;font-size:1.5em;margin-bottom:0;}
div.widgets2 p a {color:#000;font-size:1em;}

div.home-top-big {
  font-family:'myriad pro','bitstream vera sans','helvetica neue',helvetica,arial,sans-serif;
  background:url('/image/97mobile.jpg') no-repeat 0 0;
  height:299px;
  min-height:299px;
  height: auto !important;
  overflow: visible;
}
div.home-top-big div {padding:60px 0 40px 40px;}
div.home-top-big div h2 {font-size:7em; line-height:0.8; margin-bottom:0;width:8em;}
div.home-top-big div h3 {color:#790d0d; font-size:2em; line-height:1; margin-bottom:0;}
div.home-top-big div p {font-size:1.5em; margin-bottom:0;}
div.home-top-big p a {color:#000; font-size:1em;}

div.home-top-big2 {
  font-family:'myriad pro','bitstream vera sans','helvetica neue',helvetica,arial,sans-serif;
  background:url('/image/turbo-top.jpg') no-repeat 0 0;
  height:299px;
  min-height:299px;
  height: auto !important;
  overflow: visible;
  background-color:#ccc;
}
div.home-top-big2 div {padding:150px 0 40px 40px;}
div.home-top-big2 div h2 {font-weight: bold;color:#fff;font-size:5em; line-height:1; margin-bottom:0;}
div.home-top-big2 div h3 {color:#790d0d; font-size:1.5em; line-height:1; margin-bottom:0;}
div.home-top-big2 div p {font-size:1.5em; margin-bottom:0;}
div.home-top-big2 p a {color:#000; font-size:1em;}


div.widgets_benefits {
  background:url('/image/widgets_benefits_top.jpg') no-repeat 0 18px;
  height:324px;
  min-height:324px;
  height: auto !important;
  padding:18px;
  width:936px;
}
div.widgets_benefits ul {margin-top:120px;margin-left:670px;font-size:1.0833em;width:28em;}

div.widgets_features {
  background:url('/image/widgets_features_top.jpg') no-repeat 0 18px;
  height:324px;
  min-height:324px;
  height: auto !important;
  padding:18px;
  width:936px;
}
div.widgets_features ul {margin-top:145px;margin-left:640px;font-size:1.0833em;width:28em;}


div.widgets_tec {
  background:url('/image/devices-top.jpg') no-repeat 0 18px;
  height:200px;
  min-height:200px;
  height: auto !important;
  padding:18px;
  width:936px;
}

/* Quotes */

div.quote h3 {
font-size:1.3em;font-style:italic;line-height:1.3;margin-bottom:0;}
div.quote div p {font-size:1.2em;line-height:1.3;margin-bottom:0;}

div.home p {
font-size:1.7em;margin-top:-1em;line-height:1.3;}

/* engineers */ 

div.chr_engineer {
  background:url('/image/christian-engineer.jpg') no-repeat 0 18px;
  height:542px;
  min-height:542px;
  padding:18px;
}
div.chr_engineer h2 {font-size:2.5em;margin-top:0.4em;font-weight:bold;}
div.chr_engineer h4 {font-size:1.0833em;margin-top:-1.8em;color:#000;}
div.chr_engineer p {margin-top:360px;font-size:1.0833em;width:17em;font-style:italic;font-weight:bold;}

div.david_engineer {
  background:url('/image/engineer_david.jpg') no-repeat 0 18px;
  height:580px;
  min-height:580px;
  padding:18px;
}
div.david_engineer h2 {font-size:2.5em;margin-top:0.8em;font-weight:bold;}
div.david_engineer h4 {font-size:1.0833em;margin-top:-1.5em;color:#000;}
div.david_engineer p {margin-top:380px;font-size:1.0833em;width:17em;font-style:italic;font-weight:bold;}

div.kai_engineer {
  background:url('/image/kai-engineer.jpg') no-repeat 0 18px;
  height:580px;
  min-height:580px;
  padding:18px;
}
div.kai_engineer h2 {font-size:2.5em;margin-top:0.8em;font-weight:bold;}
div.kai_engineer h4 {font-size:1.0833em;margin-top:-1.5em;color:#000;}
div.kai_engineer p {margin-top:380px;font-size:1.0833em;width:17em;font-style:italic;font-weight:bold;}

/* Customers */ 
div.customers {margin-left:150px;}
div.customers img {margin-left:-150px;float:left;clear:both;display:inline;margin-top:-0.4em;}
div.customers h1 {margin-left:-150px;font-size:2em;background-color:#303030; height:18px;padding:15px;color:#fff;font-weight: bold;text-decoration: none;}
div.customers h3 {margin-left:-150px;font-size:1.2em;float:left;clear:both;}
div.customers h4 {font-size:1.8em;text-decoration: none;}
div.customers a {text-decoration: none;color:#000;}
div.customers_img {float:left;clear:both;padding-left:-24px;}
div.customers_p {font-size:1.4em;font-style:italic;line-height:1.2;color:#4C4747;}
div.customers_img2 img{padding-right:5px;}

.customers_casestudie {float:left;clear:both;margin-left:-140px;width:100px;}

/* Awards */
div.award h3 {font-size:1.5em;line-height:1.1;margin-bottom:0;  
}


/* News ticker */
#front_news {background:url('/image/ticker-all.png') no-repeat 0 0;overflow:hidden;height:28px;margin-bottom:2em;}
.billboard #front_news {background-image:url('/image/ticker-tobg.png');}
#front_news h4,#front_news p, #front_news li{color:#ccc;font-size:12px;line-height:24px;font-family:"helvetica neue", "lucida grande", helvetica, arial, sans-serif;}
#front_news h4 {padding-left:24px;padding-right:2em;float:left;font-weight: bold;border-right:1px solid #111;}
#front_news h4 a {color:#fff;text-decoration:none;background:#000 url('/bitmaps/home/ticker-tobg.png') no-repeat -50px -6px;}
#front_news a:hover {text-decoration: underline;}
#front_news ul{margin:0 0 0 8em;list-style:none inside;position:relative;border-left:2px solid #fff;}
#front_news li{padding:0 0 0 3em;margin:0;position:absolute;top:0;}
#front_news li a{color:#ccc;text-decoration:none;background:#000 url('/bitmaps/home/ticker-tobg.png') no-repeat -50px -6px;}
#tick2,#tick3,#tick4,#tick5{display:none;}

/* Video */ 
div.video h4 {font-size:1.3em;padding-bottom:10px;font-weight: bold;}
div.video p {margin-top:-1.5em;}

div.banner_video {
  font-family:'myriad pro','bitstream vera sans','helvetica neue',helvetica,arial,sans-serif;
  background: url('/image/banner_video_sdk.jpg') no-repeat ;
  background-color:#000000;
  width: 220px;
  height: 90px;
  margin:0 0 0.5em;
 
}

div.banner_video h4 {text-align:left;color:#fff;font-size:1.8em; padding-top:50px;padding-left:10px;font-weight: bold;line-height:0.8;text-shadow: black 0.1em 0.1em 0.2em;}
div.banner_video p {text-align:left;color:#fff;padding-left:13px;margin-top:-1em;width:13em;line-height:1;}
div.banner_video a {color:#fff; text-decoration: none;}

/* Gallery */

.frame {width:108px;float:left;}
.frame .devimg {min-height:124px;}
.flat {margin:0 0 1.5em}
.flat li {display:inline;list-style:none inside none;}


/* enewsletter */
/* Newsletter Fall 08 */
div.enewsletter_top {
  font-family:'myriad pro','bitstream vera sans','helvetica neue',helvetica,arial,sans-serif;
  background:url('/image/top.jpg') no-repeat 0 0;
  height:659px;
  min-height:659px;
  height: auto !important;
  width:936px;
margin-left:2.3em;
  margin-top:-50px;
  margin-bottom:-265px;
}
div.enewsletter_top div {margin-left:-2.3em;position: relative;top:70px;left:0px;width:45em;}
div.enewsletter_top div h2 {text-align:left;color:#000;font-size:4em;margin-bottom:0;margin-top:10px;line-height:0.8;}
div.enewsletter_top div h3 {text-align:left;color:#000;font-size:1.5em;line-height:1;margin-bottom:0;}
div.enewsletter_top div h4 {font-weight: bold;margin-bottom:0;text-align:left;line-height:1;}
div.enewsletter_top div p {text-align:left;color:#000;font-size:1.3em;margin-bottom:0;line-height:1;}
div.enewsletter_top p a {color:#000;font-size:1em;}

/* Newsletter Vinter 09 */
div.enewsletter_top2 {
  font-family:'myriad pro','bitstream vera sans','helvetica neue',helvetica,arial,sans-serif;
  background:url('/image/top2.jpg') no-repeat 0 0;
  height:659px;
  min-height:659px;
  height: auto !important;
  width:936px;
margin-left:2.3em;
  margin-top:-50px;
  margin-bottom:-265px;
}
div.enewsletter_top2 div {margin-left:-2.3em;position: relative;top:30px;left:0px;width:33em;}
div.enewsletter_top2 div h2 {text-align:left;color:#000;font-size:4.1em;margin-bottom:0;margin-top:10px;line-height:1;width:9em;}
div.enewsletter_top2 div h2 {text-align:left;color:#000;font-size:4.1em;margin-bottom:0;margin-top:10px;line-height:1;width:9em;}
div.enewsletter_top2 div h3 {text-align:left;color:#000;font-size:1.5em;line-height:1;margin-bottom:0;}
div.enewsletter_top2 div h4 {font-weight: bold;margin-bottom:0;text-align:left;line-height:1;}
div.enewsletter_top2 div p {text-align:left;color:#000;font-size:1.3em;margin-bottom:0;line-height:1;margin-top:10px; }
div.enewsletter_top2 p a {color:#000;font-size:1em;}

/* Newsletter Summer 09 */
div.enewsletter_top3 {
 font-family:'myriad pro','bitstream vera sans','helvetica neue',helvetica,arial,sans-serif;
 background:url('/image/summor-top2.jpg') no-repeat 0 0;

 min-height:616px;

 width:936px;
 background-color:#CCCCCC;

 margin-bottom:-280px;
}
* html div.enewsletter_top3 { height: 616px; }

div.enewsletter_top3 div {margin-left:2.3em;position: relative;top:30px;left:0px;width:48em;}
div.enewsletter_top3 div h2 {text-align:left;font-weight: bold;color:#fff;font-size:4.1em;margin-bottom:0;margin-top:10px;line-height:1;width:12em;}
div.enewsletter_top3 div h3 {text-align:left;color:#fff;font-size:1.5em;line-height:1;margin-bottom:0;}
div.enewsletter_top3 div h4 {font-weight: bold;margin-bottom:0;text-align:left;line-height:1;color:#fff;}
div.enewsletter_top3 div p {text-align:left;color:#fff;font-size:1.3em;margin-bottom:0;line-height:1;margin-top:10px; }
div.enewsletter_top3 p a {color:#fff;font-size:1em;}

/* Newsletter Summer 09 Taiwan*/
div.enewsletter_top3t {
 font-family:'myriad pro','bitstream vera sans','helvetica neue',helvetica,arial,sans-serif;
 background:url('/image/summor-top2.jpg') no-repeat 0 0;

 min-height:616px;

 width:936px;
 background-color:#CCCCCC;

 margin-bottom:-280px;
}
* html div.enewsletter_top3t { height: 616px; }

div.enewsletter_top3t div {margin-left:2.3em;position: relative;top:30px;left:0px;width:48em;}
div.enewsletter_top3t div h2 {text-align:left;font-weight: bold;color:#fff;font-size:3.5em;margin-bottom:0;margin-top:10px;line-height:1;}
div.enewsletter_top3t div h3 {text-align:left;color:#fff;font-size:1.5em;line-height:1;margin-bottom:0;}
div.enewsletter_top3t div h4 {font-weight: bold;margin-bottom:0;text-align:left;line-height:1;color:#fff;}
div.enewsletter_top3t div p {text-align:left;color:#fff;font-size:1.3em;margin-bottom:0;line-height:1;margin-top:10px; }
div.enewsletter_top3t p a {color:#fff;font-size:1em;}




div.enewsletter_name
{position: relative;margin-bottom:50px;padding-top:5px;}

div.enewsletter_name h4 {font-weight: bold;font-size:1.6em; }
div.enewsletter_name p {font-size:0.8em;color:#a20000; }

div.enewsletter_third {
margin-left:25px;}




div.enewsletter_test2 {position: relative;top:-350px;margin-left:570px;margin-bottom:-250px;width:27em;left:0px;}
div.enewsletter_test2 p {color:#fff;font-weight: bold;margin-top:-20px;margin-left:10px;}
div.enewsletter_test2 h3 {padding-top:10px;margin:10px;padding-bottom:10px;color:#fff;font-size:1.6em;font-weight: bold;}

div.enewsletter_box {background-color:#009cff;position: relative;top:-410px;margin-left:560px;margin-bottom:-200px;width: 340px;height: 140px;left:0px;opacity:0.3;}

div.enewsletter_box p {
  margin: 30px;
  font-weight: bold;
  color: #fff;
  }

div.enewsletter_text_boxes  p {margin-top:-0.5em;}
div.enewsletter_text_boxes  h4 {margin-top:-0.7em;}
div.enewsletter_text_boxes  img {margin:5px;}
div.enewsletter_text_boxes  h3 {font-weight: bold;}

div.enewsletter_text_boxes2  p {margin-top:-0.5em;}
div.enewsletter_text_boxes2  h4 {margin-top:-0.7em;}
div.enewsletter_text_boxes2  img {margin-top:-12px;}
div.enewsletter_text_boxes2  h3 {font-weight: bold;font-size:2.5em; color:#494949;margin-top:-15px; margin-bottom:10px;}


div.enewsletter_text_boxes1  p {margin-top:-0.5em;}
div.enewsletter_text_boxes1  h4 {margin-top:0;color:#3e3535;}
div.enewsletter_text_boxes1  img {margin-top:-15px;margin-right:15px;}
div.enewsletter_text_boxes1  h3 {font-weight: bold;}

div.enewsletter_logo {

  background:url('/image/logo.png') no-repeat 0 0;
  height:40px;
  min-height:40px;
  height: auto !important;
padding-bottom:50px;

}

div.newsletter_subscribe {
  font-family:'myriad pro','bitstream vera sans','helvetica neue',helvetica,arial,sans-serif;
  background-color:#a20000;
  width: 280px;
 background:url('/image/button2.png') no-repeat 0 0;
  height: 40px;
  margin-top:30px;
 
}

div.newsletter_subscribe h4 {text-align:left;color:#fff;font-size:1.4em; padding-top:13px;padding-left:10px;}
div.newsletter_subscribe p {text-align:left;color:#fff;padding-left:13px;margin-top:-1em;width:13em;line-height:1;}
div.newsletter_subscribe a {color:#fff; text-decoration: none;}




div.newsletter_archive  {padding-left:13px;}
div.newsletter_archive h4 {color:#c30501; font-size:1em;font-style:italic; }
div.newsletter_archive h3 {font-weight:bold; }
.newsletter_archive2 {background:url('/image/arkiv-bak.png') ; width: 650px;height: 272px; margin-bottom:-250px;}

.bqstart {
     float: left;
     height: 45px;
     margin-top: -85px;
     padding-top: 45px;
     margin-bottom: 10px;
     font-size: 700%;
     color: #FF0000;
 }



 .bqend {
     float: right;
     height: 25px;
     margin-top: -30px;
     padding-top: 0px;
     font-size: 700%;
     color: #FF0000;
 }
 
 /* Whitepapers Contact 
 
  body{
font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
}
p, h1, form, button{border:0; margin:0; padding:0;}
.spacer{clear:both; height:1px;}

*/

/* ----------- My Form ----------- */
.myform{
margin:0px;
width:400px;
padding:14px;
padding-right:230px;
}

/* ----------- stylized ----------- */
#stylized{
border:solid 2px #b7ddf2;
background:#ebf4fb;
}

#stylized h1 {
font-size:14px;
font-weight:bold;
margin-bottom:8px;
}

#stylized p{
font-size:11px;
color:#666666;
margin-bottom:20px;
border-bottom:solid 1px #b7ddf2;
padding-bottom:10px;
}

#stylized label{
display:block;
font-weight:bold;
text-align:right;
width:140px;
float:left;
}

#stylized .small{
color:#666666;
display:block;
font-size:11px;
font-weight:normal;
text-align:right;
width:140px;
}

#stylized input{
float:left;
font-size:12px;
padding:4px 2px;
border:solid 1px #aacfe4;
width:200px;
margin:2px 0 20px 10px;
}

#stylized select{
float:left;
font-size:12px;
padding:4px 2px;
border:solid 1px #aacfe4;
width:208px;
margin:2px 0 20px 10px;
}

#stylized button{
clear:both;
margin-left:150px;
width:130px;
height:35px;
background: url('/image/black-button.png') no-repeat;
border:0;
text-align:center;
line-height:31px;
color:#FFFFFF;
font-size:11px;
font-weight:bold;
}
.test{

float:left;
margin-top:-270px;
margin-left:430px;
}
/* ----------- Contact form ----------- */
.myform2{
margin:0px;
width:400px;
padding:14px;
padding-right:230px;
}


#stylized2{
border:solid 2px #b7ddf2;
background:#ebf4fb;
}

#stylized2 h1 {
font-size:14px;
font-weight:bold;
margin-bottom:8px;
}

#stylized2 p{
font-size:11px;
color:#666666;
margin-bottom:20px;
border-bottom:solid 1px #b7ddf2;
padding-bottom:10px;
}

#stylized2 label{
display:block;
font-weight:bold;
text-align:right;
width:300px;
float:left;
}

#stylized2 .small{
color:#666666;
display:block;
font-size:11px;
font-weight:normal;
text-align:right;
width:300px;
}

#stylized2 input{
float:left;
font-size:12px;
padding:4px 2px;
border:solid 1px #aacfe4;
width:200px;
margin:2px 0 20px 10px;
}

#stylized2 textarea{
float:left;
font-size:12px;
padding:4px 2px;
border:solid 1px #aacfe4;
width:200px;
margin:2px 0 20px 10px;
}

#stylized2 select{
float:left;
font-size:12px;
padding:4px 2px;
border:solid 1px #aacfe4;
width:200px;
margin:2px 0 20px 10px;
}

#stylized2 button{
clear:both;
margin-left:0px;
width:130px;
height:35px;
background: url('/image/black-button.png') no-repeat;
border:0;
text-align:center;
line-height:31px;
color:#FFFFFF;
font-size:11px;
font-weight:bold;
}

.test2 {

text-align:left;
font-size:12px;
padding:4px 2px;

}

#test2 input{
margin-right:5px;
width:15px;

}

/* ----------- Contact form ----------- */
.myform3{

}


#stylized3{

}

#stylized3 h1 {
font-size:14px;

margin-bottom:-20px;
text-align:left;
margin-left:0px;
}

#stylized3 h3 {
color:#3f3f3f;margin-top:-10px;
}

#stylized3 p{

color:#666666;
margin-bottom:5px;
display:block;

text-align:left;
margin-left:0px;
}

#stylized3 label{width:65px; float:left; margin-bottom:-20px; padding:-2px;}


#stylized3 input{
font-size:11px;
padding:2px 2px;
border:solid 1px #ccc;
width:200px;
margin:2px 0 3px 80px;
}


#stylized3 select{

font-size:12px;
padding:4px 2px;
border:solid 1px #ccc;
width:200px;
margin:2px 0 20px 10px;
}

#stylized3 button {background: transparent url(/image/button-login.png); width:101px; height:33px; border:0px; color:#fff; font-weight:normal; font-size:14px;padding-top:5px;margin-top:5px;}

.button-contact button {background: transparent url(/image/button-login.png); width:101px; height:33px; border:0px; color:#fff; font-weight:normal; font-size:14px;padding-top:5px;margin-top:5px;}

/*
#stylized3 button{
clear:both;
margin-left:0px;
width:130px;
height:35px;

background: url('/image/black-button.png') no-repeat;
border:0;
text-align:center;
line-height:31px;
color:#FFFFFF;
font-size:11px;
font-weight:bold;

}
*/

/* Home new 


*/ 

.pil {padding-right:35px;background:url('/image/7.png') no-repeat 100% 50%;}
.button {padding-right:73px;background:url('/image/button.png') no-repeat 100% 50%;}

.home-coloum1{

}
div.home-coloum1 h1 {font-size:3.7em;padding-top:30px;}
div.home-coloum1 h3 {font-size:1.9em;line-height:25px;}
div.home-coloum1 h4 {font-size:15px;}
div.home-coloum1 p {font-size:14px;}



.home-coloum2-3{

}
div.home-coloum2-3 img {margin-top:5px;}
div.home-coloum2-3 h3 {margin-top:-15px;font-size:20px;}
div.home-coloum2-3 p {line-height:15px;margin-top:-10px;}


.home-coloum2-3a{}
div.home-coloum2-3a img {margin-top:-10px;}
div.home-coloum2-3a h3 {margin-top:0px;font-size:20px;}
div.home-coloum2-3a p {line-height:15px;margin-top:-10px;}

.home-coloum-bottomb-1{
}
div.home-coloum-bottomb-1 p {line-height:3px;}
div.home-coloum-bottomb-1 a {color:#2d2d2d;}
div.home-coloum-bottomb-1 h3 {color:#3f3f3f;}

.home-coloum-bottomb{
}
div.home-coloum-bottomb p {margin-top:-13px;line-height:18px;}
div.home-coloum-bottomb a {color:#2d2d2d; text-decoration:none}
div.home-coloum-bottomb h3 {color:#3f3f3f;font-size:1.9em;}


.home-lighning {float:left;margin-top:-68px;padding-right:10px;margin-left:-20px;}
.home-star {float:left;padding-right:10px;}
.home-ball {float:left;padding-right:10px;}

/* Home new splash */

.home-splash-3 {margin-top:100px;margin-left:50px;}
