/*---------------------------------------------
  Developer styles
---------------------------------------------*/

/* Campaign */

.campaign_unite {background:#183808 url("/image/0906unite.jpg") no-repeat left top; height:209px; margin:0 0 1.5em;}
.campaign_unite .inner {padding:50px 350px 0 30px; color:#fff;}
.campaign_unite p.heading {font-size:3.0em; line-height:0.5em; margin-bottom:.5em; padding:0px; text-shadow:#000 0 3px 6px;}
.campaign_unite p.introduction {margin:5px 0 0; text-shadow:#000 0 2px 6px;}
.campaign_unite p.introduction a {color:#fff;}

.campaignbeta {background:#183808 url("/image/0906campaignbeta.jpg") no-repeat left top; height:208px; margin:0 0 1.5em;}
.campaignbeta .inner {padding:40px 280px 0 58px; color:#fff;}
.campaignbeta p.heading {font-size:3.0em; line-height:0.5em; margin-bottom:.5em; padding:0px; text-shadow:#000 0 3px 6px;}
.campaignbeta p.introduction {margin:5px 0 0; text-shadow:#000 0 2px 6px;}
.campaignbeta p.introduction a {color:#fff;}

.devcampaign {background:url("/image/0902.jpg") no-repeat left -72px; width:936px; height:208px; margin:0 0 1.5em;}
.devcampaign .inner {margin:110px 0 0 48px; font-size:14px;}
.devcampaign p.heading {color:#b40000; font-size:3.0em; line-height:0.5em; margin-bottom:0; padding:0px;}
.devcampaign p.introduction {color:#b40000; margin:5px 0 0;}
.devcampaign p.introduction a {color:#b40000;}

/* General */

div#page > div:nth-of-type(3) {padding-top:0;}

h1 {font-size:2.1em; line-height:1.3; margin-bottom:0.3em;}
h2 {font-size:1.6em; line-height:1; margin-bottom:0.5em;}
h3 {font-size:1.3em; line-height:1.25; margin-bottom:0.3em;}

ul.forumposts, .forumposts li {margin-left:0; padding-left:0;}
.forumposts li {list-style:none inside;}
.forumposts h3 {margin-bottom:0;}
.forumposts span.secondary {display:block; margin:0 0 .5em;}