html {background:#202020 url('/image/unite_bg.jpg') repeat-x 0 0;}
body {background:transparent url('/image/unite.jpg') no-repeat 50% 0;}                                 
#campaign-primerdigital-unite {min-height:300px;}
body.unite .callout {background:rgba(0,0,0,0.5);margin-top:60px;padding:24px 24px 12px;}
body.unite .callout p {margin:1em 0;}
body.unite, #footer li {color:#aaa;}
body.unite a, body.unite h1, body.unite h2, body.unite h3 {color:#fff;}
body.unite h1 {font-size:200%;}
body.unite #footer, body.unite .separator {border-top: 1px solid #333;}
body.unite #footer .search {background-image: url('/image/input-middle.png');padding:0;}
body.unite #footer .search form {background-image: url('/image/input-top.png');}
body.unite #footer .search p {background-image: url('/image/input-bottom.png');}

/* Splash campaign */
.primerdigital {background:#fff url('/image/background4.jpg') no-repeat 50% -30px;}
.mini {background:#fff url('/image/0812primerdigitalmini2.jpg') no-repeat 50% 60px;} 

#home #nav ul {margin-bottom: 0;}

#campaign-primerdigital-latest {height:390px; min-height:390px; height:auto !important; overflow:visible;}
#campaign-primerdigital-latest .callout{padding:70px 0 0 0px;}
#campaign-primerdigital-latest h1{font-weight:normal;font-size:4em;margin:0 0 10px 0;letter-spacing:-2px;text-shadow:0px 0px 5px #fff;}
#campaign-primerdigital-latest h1 a, #campaign-primerdigital-latest p {color:#111;text-decoration: none;}
#campaign-primerdigital-latest h2{color:#111;font-weight:normal;margin:0px 0px 10px 0px; font-size:2em;}
#campaign-primerdigital-latest a {color:#111;text-decoration:underline;}
#campaign-primerdigital-latest p {font-size:1.2em;line-height:1.4em;margin:0px 0 20px 0;}

#campaign-primerdigital-old {height:360px; min-height:360px; height:auto !important; overflow:visible;}
#campaign-primerdigital-old .callout {padding:80px 0 0;}
#campaign-primerdigital-old h1 a, #campaign-primerdigital-old p {color:#111; text-shadow:0 0 0 #222; text-decoration: none;}
#campaign-primerdigital-old a {color:#111;text-decoration:underline;}
#campaign-primerdigital-old p.large2 {font-size:1.1em;line-height:1.5em;margin:0 0 10px 0;}
#campaign-primerdigital-old h1{font-weight:normal;font-size:4em;margin:0 0 10px 0;}

#campaign-non-primerdigital {height:360px; min-height:360px; height:auto !important; overflow:visible;}
#campaign-non-primerdigital .callout {padding:50px 0 0;}
#campaign-non-primerdigital h1 {font-weight:normal; font-size:4em; margin:0 0 .2em; line-height:0.9;}
#campaign-non-primerdigital h1 a, #campaign-non-primerdigital p {color:#111;text-shadow:0 0px 0px #222;text-decoration: none;}

/* News ticker */
#front_news {background:url('/image/ticker-all.png') no-repeat 0 0;overflow:hidden;height:28px;margin-bottom:2em;}
.billboard #front_news {background:url('/image/ticker-tobg.png') no-repeat 0 0;}
#front_news h4,#front_news p, #front_news li{color:#ccc;font-size:12px;line-height:24px;font-family:"helvetica neue", "lucida grande", helvetica, arial, sans-serif;}
#front_news h4 {padding-left:24px;padding-right:1.8em;float:left;font-weight: bold;border-right:1px solid #111;}
#front_news h4 a {color:#fff;text-decoration:none;}
#front_news a:hover {text-decoration: underline;}
#front_news ul{margin:0 0 0 8em;list-style:none inside;position:relative;border-left:2px solid #fff;}
#front_news li{padding:0 0 0 3em;margin:0;position:absolute;top:0;}
#front_news li a{color:#ccc;text-decoration:none;}
#tick2,#tick3,#tick4,#tick5{display:none;}