/* links */
a			{ color: #000; font-family: arial, verdana, sans-serif; text-decoration: none; }
a:active	{ color: #000; font-family: arial, verdana, sans-serif; text-decoration: none; }
a:visited	{ color: #000; font-family: arial, verdana, sans-serif; text-decoration: none; }
a:hover		{ color: #000; font-family: arial, verdana, sans-serif; text-decoration: none; }

a.bottomlink			{ color: #76776f; font-family: arial, verdana, sans-serif; font-size: 11px; font-weight: normal; text-decoration: none; }
a.bottomlink:active		{ color: #76776f; font-family: arial, verdana, sans-serif; font-size: 11px; font-weight: normal; text-decoration: none; }
a.bottomlink:visited	{ color: #76776f; font-family: arial, verdana, sans-serif; font-size: 11px; font-weight: normal; text-decoration: none; }
a.bottomlink:hover		{ color: #76776f; font-family: arial, verdana, sans-serif; font-size: 11px; font-weight: normal; text-decoration: none; }

body 		{ background-color: #ffffff; font-size: 8pt; font-family: arial, tahoma, verdana !important; margin: 0px 10px 10px 30px;}
td			{ font-size: 8pt; font-family: arial, tahoma, verdana !important;}
#main		{ background-color: #ffffff;  width: 760px; height:auto; overflow:hidden;}



/* siirry dropdown */
#top		{background: url('gfx/bg_top.jpg') no-repeat; height: 100px; width: 757px; text-align:right;}
#top #box		{font-size:8pt; text-align:right;}
#top #box td 	{ height:17px; font-family: verdana, arial; font-size: 9px; color: #ffffff; }
#top #box td 	select, #top #box td 	select option { border: solid 1px #6eade0; height:17px; font-family: verdana, arial; font-size: 9px; color: #00629a; }
#top #box td .searchbox {
	border: solid 1px #6eade0;
	height:17px;
	font-family: verdana, arial;
	font-size: 9px;
	color: #00629a;
	padding-left: 4px;
}

/* logo linkki */
div#logolink {display: block;
   position: absolute; top: 35px; left: 30; width: 125px; }
   
/* ala ala jutut */
#sub {display:inline;white-space:nowrap; display:block; width: 757px;}
#sub td #text {
	float:left;
	color:#76776f;
	font-size:8pt;
	width:650px;
	padding-bottom:3px;
	padding-top:10px;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #F95560;
}
#sub td #text a {color: #146a9d; font-weight:normal; text-decoration:none;}
#sub td #logo {padding-top:13px; overflow:hidden; width:107px}

/* menua lis‰‰ */
.menu, #menu		{ background: url('bg_menubekker.gif') repeat-x; height: 30px; width: 760px; }
#menu a, #menu a:link, #menu a:visited, #menu a:active	{ color: #ffffff; font-weight: bold; text-decoration:none; padding-left: 10px; padding-right: 10px; padding-top: 10px; }

/* vasen */
#leftcon { padding-top:15px; padding-left:13px; padding-right:20px; float:left; width: 510px; color: #000; font-size:8pt;}


/* #leftcon li a { color: red;  font-size: 8pt; text-decoration:none; } */

#leftcon a, #leftcon a:link, #leftcon a:visited, #wide a, #wide a:link, #wide  a:visited  {

	text-decoration:none;
	padding-left: 9px;
	background-position: 0px 5px;
	background-repeat: no-repeat;

}




#leftcon a:hover  {

  color: #F95560;

}


/* vasemman otsikot */
h1 { display:block; font-size: 16px; color: #0067A5; padding-top:5px; font-weight:bold;}
h2 { display:block; font-size: 12px; color: #0067A5; padding-top:10px; padding-bottom:0px; font-weight:bold;}
h2 a, h2 a:link, h2 a:visited { font-size: 12px; color: #0067A5; background-image: url(tyhja.gif);}
h3 { display:block; font-size: 9pt; color: #0067A5; padding-top:5px; padding-bottom:0px; font-weight:bold;}

/* sijaitsee oikealla  */
#main #right 	{
	float:right;
	text-align:right;
	margin-top: 15px;
}


#main #leftcon .noarr, #right {
	margin: 0px;
	padding: 0px;
	background-image: none;
}

#leftcon a.tekstilinkki, #wide a.tekstilinkki, #right a.tekstilinkki, #leftcon a:link.tekstilinkki, #wide a:link.tekstilinkki, #right a:link.tekstilinkki,#leftcon a:visited.tekstilinkki, #wide a:visited.tekstilinkki, #right a:visited.tekstilinkki {
	color: red;
	margin: 0px;
	padding: 0px;
	background-image: none;
}


#leftcon .tekstilinkki .redborder {
	border: 1px solid #bfbfbf;}


.table { background-color: #0066a4; }

.table a, .table a:link, .table a:visited {
	color: red;
}




.table th a, .table th a:link, .table  th a:visited {
	color: #fff;
	font-size: 8pt;
	font-weight: bold;
}


.table  th a:hover {
	color: #aad2eb;

}


.table td { color: #000; background-color: #ededed; font-size: 8pt; font-family: arial, tahoma, verdana !important;}


.table th		{
	color: #fff;
	background-color: #0066a4;
	font-size: 8pt;
	font-weight: bold;
	font-family: arial, tahoma, verdana;
	text-align: left;
}




table.grayframe {
	border-width: 1px;
	border-spacing: ;
	border-style: solid;
	border-color: #bfbfbf;
	border-collapse: collapse;
	background-color: white;
}
table.grayframe th {
	border-width: 1px;
	padding: 10px;
	border-style: none;
	border-color: #bfbfbf;
	background-color: white;
	-moz-border-radius: ;
}
table.grayframe td {
	border-width: 1px;
	padding: 10px;
	border-style: none;
	border-color: #bfbfbf;
	background-color: white;
	-moz-border-radius: ;
}




#indexleftcon {
	padding-top:15px;
	padding-left:0px;
	padding-right:15px;
	float:left;
	color: #000;
	font-size:9pt;
	display:block;
	width: 500px;
}
#wide {
	padding-top:15px;
	padding-left:0px;
	padding-right:15px;
	display:block;
	width: 750px;
}



#main #leftcon .table a,#main #wide .table a  {
	background-image: none;
	margin: 0px;
	padding: 0px;
}
a.tekstilinkki, a:link.tekstilinkki, a:visited.tekstilinkki {
	color: red;
	margin: 0px;
	padding: 0px;
	background-image: none;
}

.tekstilinkki {
	color: red;
	margin: 0px;
	padding: 0px;
	background-image: none;
}

a.punalinkki, a:link.punalinkki, a:visited.punalinkki {
	color: red;
	background-image: url(/image/bg_arrowthin.gif);
	padding-left: 9px;
	background-position: 0px 5px;
	background-repeat: no-repeat;
}


a.linkkisisennetty, a:link.linkkisisennetty, a:visited.linkkisisennetty { 
	display:block;  
	padding-bottom: 2px; 
	padding-top:1px; 
	padding-left: 15px;  
	background: url('/image/bg_arrowthin.gif') no-repeat; 
	background-position: 6px 8px; 
	color: #000000;  
	font-size: 8pt; 
	text-decoration:none; }

.productnavitxt {
	font-size: 7pt;}	



.cursor{ cursor: pointer; cursor: hand; }