/* dropdown menun  */
.clCMAbs { LEFT: 0px; VISIBILITY: hidden; POSITION: absolute; TOP: 0px }
.clBar { VISIBILITY: hidden; WIDTH: 749px; POSITION: relative; HEIGHT: 10px; }

.menuLevel0 { width: 100px; PADDING-RIGHT: 100px; PADDING-LEFT: 100px; FONT-WEIGHT: bold; FONT-SIZE: 10pt; PADDING-BOTTOM: 0px; PADDING-TOP: 5px; FONT-FAMILY: arial, verdana; POSITION: absolute }
.menuLevel0 { COLOR: #ffffff; background: url('gfx/bg_menubaggi.gif') repeat-x; }
.menuLevel0over { PADDING-RIGHT: 100px; PADDING-LEFT: 100px; FONT-WEIGHT: bold; FONT-SIZE: 10pt; PADDING-BOTTOM: 0px; PADDING-TOP: 5px; FONT-FAMILY: arial, verdana; POSITION: absolute }
.menuLevel0over { CURSOR: hand; COLOR: #ffffff; background: url('gfx/bg_menubaggi.gif') repeat-x; }
.menuLevel0border { VISIBILITY: hidden; POSITION: absolute; background: url('gfx/bg_menuline.gif') no-repeat; background-position: 20px; }

.menuLevel1 { PADDING-RIGHT: 2px; PADDING-LEFT: 6px; FONT-SIZE: 11px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; FONT-FAMILY: verdana; POSITION: absolute; cursor:hand; }
.menuLevel1 { COLOR: #000000; BACKGROUND-COLOR: #ffffff; layer-background-color: #ffffff; text-align: left; PADDING-RIGHT: 2px; PADDING-LEFT: 8px; FONT-SIZE: 11px; FONT-FAMILY: tahoma, verdana; POSITION: absolute;cursor:hand; }
.menuLevel1over { PADDING-RIGHT: 2px; PADDING-LEFT: 8px; ; FONT-SIZE: 11px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; FONT-FAMILY: tahoma, verdana; POSITION: absolute;cursor:hand; }
.menuLevel1over { CURSOR: hand; COLOR: #00629a; BACKGROUND-COLOR: #ffffff; layer-background-color: #ffffff; text-align: left;cursor:hand; }
.menuLevel1border { VISIBILITY: hidden; POSITION: absolute; BACKGROUND-COLOR: #6eade0; layer-background-color: #6eade0 }

/* BOXI */
#box .rbroundbox    {
	background: #fff;
	text-align:left;

}

/* pikalinkkien heading */
#box .rbtoppika         { background: url('gfx/right_box_empty_heading.gif') no-repeat;}
#box .rbtoppika div     { background: url('gfx/right_box_empty_heading.gif') no-repeat; }

/* ajankohtaista heading */
#box .rbtopajan         { background: url('gfx/en_bg_box_heading_newproducts.gif') repeat-x;}
#box .rbtopajan div     { background: url('gfx/en_bg_box_heading_newproducts.gif') repeat-x; }

#box .rbtoppika div div, #box .rbtopajan div div { padding-left:7px; padding-top:4px; }

#box .rbbot         { background: url(gfx/bg_box_bottom.gif) repeat-x; }
#box .rbbot div     { background: url(gfx/bg_box_bottom_left.gif) no-repeat top left; }
#box .rbbot div div { background: url(gfx/bg_box_bottom_right.gif) no-repeat top right; }

#box .rbcontentwrap { background: url(gfx/bg_box_left.gif) repeat-y; }
#box .rbcontent     { background: url(/image/bg_box_right.gif) repeat-y right; }

#box .rbtopajan div, #box .rbtoppika div, #box .rbtop, #box .rbbot div, #box .rbbot {
	color: #ffffff;
	width: 100%;
	height: 22px;
	font-size:10pt;
	font-weight:bold;
}
#box .rbcontent  { padding: 1px 3px; margin: 0;  }
#box .rbcontent2  { padding-left: 9px; padding-top: 3px; padding-right: 9px; padding-bottom: 0px; margin: 0;  }
#box .rbcontent2 a { display:block;  padding-bottom: 2px; padding-top:3px; padding-left: 15px;  background: url('gfx/bg_arrowthin.gif') no-repeat; background-position: 6px 8px; color: #000000;  font-size: 8pt; text-decoration:none; }
#box .rbcontent2 a.noarr { background: none; }
#box .rbroundbox { width: 209px;  }
#box .rbcontent a { display:block;  padding-bottom: 2px; padding-top:3px; padding-left: 15px;  background: url('gfx/bg_arrowthin.gif') no-repeat; background-position: 6px 8px; color: #000000;  font-size: 8pt; text-decoration:none; }
#box .rbcontent a.noarr { background: none; }

#box .rbcontent p {
	padding-left: 15px;
	margin-top: 5px;
	margin-bottom: 5px;
}


.sisennys {
	padding-left: 9px;
}

.productnavitxt {
	font-size: 7pt;}