/*---------------------------------------------
  nav
---------------------------------------------*/
#nav .menu-support {
	background: #900 url(/image/menu_over.png);
	text-shadow: #300 0px 2px 2px;
}

p.screenshot{
  font-size: 0.917em;
  line-height: 1.636;
  margin-bottom:1.636em;
}
p.screenshot span {
	display: block;
	width: 100%;
}
img {max-width:100%;}
td {vertical-align: top;}
/*a[href^="http"] {
   padding-right:8px;
   background:url(/image/out.png) no-repeat 100% 2px;
}*/
.y {font-weight:bold;}
kbd,code,tt,pre {color:#000;}

caption {text-align:center; font-weight:bold; padding:.5em;}
h3.canexpand, h3.nowexpanded {border-top:1px solid #ccc;padding-top:.5em;}

/* documentation */

/* indentation for coded table columns */
.noindent, .indent1, .indent2, .indent3 {
  text-align: left;
  font-family: "Courier New", serif;
}

.indent1 {padding-left:1.5em;}
.indent2 {padding-left:2.5em;}
.indent3 {padding-left:3.5em;}

/* colors for Yes, NA and No table cells */
.y  {color:#000; background:#f0fff0;}
.n  {color:#000; background:#ffeeee; font-weight:bold;}
.na {color:#000; background:#f0f8ff;}

/* for ul's inside dl's */

dd ul {margin-bottom:0em; padding-left:0.5em;}
.box b.info {padding-top:0.25em;padding-bottom:0.25em;}
