@import 'reset.css';
@import 'typography.css';
@import 'common.css';
/*@import 'home.css';*/
/*@import 'mini.css';*/


html {margin-left:6px;margin-right:6px;}
h4 {font-weight:bold;}
body, img, div {max-width:100%!important;}

.aside {font-size:75%;}
.download {/*-webkit-text-size-adjust:none;*/width:30%;}
.separator {padding-top:.75em;clear:both;}
.note {color:#666;clear:both;float:left;font-size:11px;line-height:18px;}

#page #mainmenu {padding:0;margin:0;background:#C80000 url(/image/top-logo.png) left top no-repeat!important;color:#fff;height:auto;}
#page #mainmenu a {color:inherit;text-decoration:none;margin:0;padding:3px;}
#page #mainmenu li {display:inline-block;font-size: 1.2em;height:auto;background:#C80000;}
#page #mainmenu li.on a {background:#B20000;}
#products #nav .menu-products a, #home #nav .menu-home a {font-weight: bold;background:#fff;color:#000;}
#nav {padding:10px 10px 0;background:#C80000;}

#nav li a:hover {background:#B20000;text-shadow: #300 0px 2px 2px;}

div#nav {margin:10px 0 25px 0}
#nav li {list-style:none;margin:0 2px;}
#nav li a {color:#fff;display:block;line-height:1.8;padding:0 1em;text-decoration:none;white-space:nowrap;}
#nav li ul {display:none;}
#nav ul#mainmenu,
.billboard #nav ul#mainmenu {background:none;margin:0;min-height:30px;padding:50px 0 0 0;}

#header {clear:both;}
#header h2 {line-height:1.5em;margin:3px 0 0 5px;}

#developer .pagetitle {display:none;}

.subnav {margin-right:5px;}

#splash,
#campaign-splash2 {padding-top:10px;}

#front_news {height:40px;}
#front_news h4 a {width:100px;color:#ccc;text-decoration:none;margin-top:10px;}
.mini #front_news {background:none!important;}



div .article {width:55%;float:left;padding:1em 3% 0 0;}
#support .aside {padding-top:6.5em;}
div .article.separator {width:100%;}
div.aside {width:40%;float:right;margin-top:1em;}
div.aside .pagenav li {line-height:2em;}
.aside .aside {width:100%;}
.campaign h2 {width:50%;}

.releases .post img {display:none;}
.releases .post .date {width:150px;color:#666;display:block;}

#company .span-7 {overflow:auto;}

.third img,
.span-4 img,
.span-5 img {margin-bottom:.5em;}
.span-5 {width:30%;float:left;padding-right:3%;min-width:150px;overflow:auto;}
.span-5 h3 {clear:left;}
img.span-5 {width:auto;}
.span-10 {width:50%;}
.last {width:auto;margin-right:0;overflow:auto;}
#developer .span-5.last,
#company .span-5.last {width:30%;clear:left;}

.third,.span-4 {width:30%;float:left;padding-right:3%;}
div > div.span-4:nth-of-type(3n-1) {clear:left;}

#footer .search {width:168px;float:right;position:relative;top:0;}
#footer .sitenav li {padding-left:0;border-left:none;}
